.md-grid {
    max-width: 2160px;
}
figure {
    margin: 2 rem 0;
    position: relative;
    display: inline-block;
}
figure img {
    border: 1px solid black;
    display: block;
}
figcaption {
    text-align: left;
    font-size: 10px;
    font-style: italic;
    margin: 0 !important
}

.figure-no-border {
    border: none
}

.img-border {
    border: 1px solid black;
}